<div class="col-2" style="height: 80vh; background-color: yellow;">
    <ul style="list-style-type: none;" class="sidebar-custom">
        <li>
            <a href="#">
                <div>
                    Giftboxes
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    Users
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    Orders
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    FAQ
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    Settings
                </div>
            </a>
        </li>
    </ul>
</div>
